
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');





* {
    /* box-sizing: border-box; */
    padding: .5px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
*::-webkit-scrollbar-thumb{
    background-color: red;
}
*::-webkit-slider-thumb{
    background-color: red;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: #e1e3e9;
    color: var(--text-color);
}

html::-webkit-scrollbar-thumb{
    width: 2px;
    background: red !important ;
}
html::-ms-thumb{
    width: 2px;
    background: red !important ;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}



.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: black;
}







.portfolio__description {
    margin-bottom: var(--mb-0-75);
}



.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-portfolio-icon {
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev {
    left: -.5rem;
}

.swiper-button-next {
    right: -.5rem;
}

.swiper-pagination-bullets {
    transform: translateY(2.5rem);
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}



.testimonial__description {
    margin-bottom: var(--mb-2-5);
}



.swiper-container .swiper-pagination-testimonial {
    bottom: 0;
}



@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }


    .testimonial__data,
    .testimonial__header {
        flex-direction: column;
        align-items: center;
    }

    .testimonial__img {
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }

    .testimonial__data,
    .testimonial__description {
        text-align: center;
    }


}

@media screen and (min-width: 568px) {


    .about__container,
    .skills__container,
    .portfolio__content,
    .contact__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .qualification__sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }






}

@media screen and (min-width: 1024px) {

    .portfolio__content {
        column-gap: 5rem;
    }

    .swiper-portfolio-icon {
        font-size: 3.5rem;
    }

    .swiper-button-prev {
        left: -3.5rem;
    }

    .swiper-button-next {
        right: -3.5rem;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -4.5rem;
    }

   
  
}

